.login-content {
    background-image: url('../../image/com/loginBG.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.login-body{
    width: 320px;
    height: 348px;
    background-color: #e6e5e5fa;
    border: 5px solid hsl(187, 22%, 77%);
    margin-top: 5px;
}

 /* .input-body{
    margin: 0 auto;
    line-height: 1.5;
}  */

.loginInputGroup{
    margin: 0 auto;
    text-align: center;
}
.loginInputGC{
    margin: 0 auto;
    text-align: center;
    width: 94%;
}

.phoneClass{
    position: relative; 
}

.phoneInput{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right-color: transparent !important;
}
.phoneButton{
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right-color: transparent !important;
}

#input-body-verCode{
    height:'38px';
    width:'60%';
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    /* border-right-color: transparent !important; */
}

#input-button-verCode{
    height:'38px';
    width:'40%';
    font-size: '0.8rem';
    border-radius: 0px 0.28571429rem 0.28571429rem 0px;
}