.layui-table img {
    max-width: 200px;
    max-height: 200px;
}


.experimentTable img {
	/*顺序：上、右、下、左*/
    margin: 10px 0;
}

.experimentTable img {
    max-width: 200px;
    max-height: 200px;
    
}

td{
	word-break:break-all;
}
