/* #main-content {
    
    height: 100%;
    width: 100%;
} */
#main-content{
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    box-sizing: border-box ;
    background-color: #eef2f5;  
}

.navigationbar{
    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    /* border-top: 1px solid red;
    border-bottom: 1px solid red; */

}

#body-content{
    height: 1000px;
    min-height: 100%;
    width: 100%;
    /* display: flex; */
    
}

.menubar{
    width:20%;
    height: 100%;
    min-height: 100%;
    float: left;
    /* border: 1px solid #ddd;  */
    background-color: #f9f9f9;
    /* box-shadow: 2px 2px 2px #ddd; */
    
}
.menuheader{
    margin: 0 auto;
}

.bodycotent{
    width:calc(80% - 8px);
    height: 100%;
    float: left;
    /* border: 1px solid #ddd; */
    background-color: #f9f9f9;
    /* margin-left: -100%; */
    margin-left: 8px;
}
.scroll{
    overflow-y: auto;
}


#footer{
    width:100%;
    height: 30px;
    text-align: center;
}

.footer-content{
    margin: 0 auto;
    bottom: 15px; 
}

/* #container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

#header,
#footer {
    height: 12.5%;
    background: deepskyblue;
}

#main {
    height: 75%;
}

#center,
#left,
#right {
    height: 100%;
    float: left;
}

#center {
    width: 100%;
    background: lightgreen;
}

#right {
    background: lightblue;
    width: 20%;
    margin-left: -20%;
}

#left {
    background: lightcoral;
    width: 20%;
    margin-left: -100%;
}

#main-inner {
    padding-left: 20%;
} */



.row{
    display: flex;
}
.col-md-1{
    width: 8.333%;
}
.col-md-2{
    width: calc(8.333% * 2);
}
.col-md-3{
    width: calc(8.333% * 3);
}
.col-md-4{
    width: calc(8.333% * 4);
}
.col-md-5{
    width: calc(8.333% * 5);
}
.col-md-6{
    width: calc(8.333% * 6);
}
.col-md-7{
    width: calc(8.333% * 7);
}
.col-md-8{
    width: calc(8.333% * 8);
}
.col-md-9{
    width: calc(8.333% * 9);
}
.col-md-10{
    width: calc(8.333% * 10);
}
.col-md-11{
    width: calc(8.333% * 11);
}
.col-md-12{
    width: calc(8.333% * 12);
}


label{
    font-size: 18px;
    color: #2d0404;
}

.no-padding-left{
    text-align: left;
}
.no-padding-center{
    text-align: center;
}
.no-padding-right{
    text-align: right;
}


/* button::before{
    content: "";
    padding-left: 12px;
}
button{
    font-size: 16px;
    background-color: #ABBAC3!important;
    
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
}
button::after{
    content: "";
    padding-right: 12px;
} */

.btn-default{
    background-color: #ABBAC3!important;
}
.btn-warning{
    background-color: #FFB752!important;
}
.btn-success{
    background-color: #87B87F!important;
}
.btn-info{
    background-color: #6FB3E0!important;
}


#messageHeader{
    position: absolute;
    top: 20px; 
    right: 18px;
    width: 25%;
}