

#main-content{
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    box-sizing: border-box ;
    background-color: #fff;
}

#navigationbar{
    width: 100%;
    min-height: 50px;
    background-color: #f9f9f9;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.05); */
    position: fixed;
    margin-top: 0;
    left: 0;
    right: 0;
}
#navigationbarMenu{
    border-bottom: 8px solid #fff;
    min-height: 50px;
}

#subMenubarMenu{
    width: 100%;
    border-right: none;
}

#subMenubarMenu .item{
    border-right: none;
}

#subMenubarMenu .active{
    background-color: rgb(229, 225, 235);

}

#body-content{
    width: 100%;
    height: 95%;
    padding: 50px 0 0;
    margin: 0 auto;
    line-height: 1.57142857;
    background: #fff;
    /* min-height: 654px; */
}

#sidebar{
    background-color: #f9f9f9;
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 10px;
}

#cotent{
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 10px;
}


#footer{
    margin-top: 5px;
    width:100%;
    height: 30px;
    text-align: center;
}

#footer-content{
    margin: 0 auto;
    bottom: 15px; 
}


.menuComSetClass.ui.menu .item {
    line-height: 2;
}

.helpItem{
    position: absolute;
    bottom: 70px;
    right: 40px;
    z-index: 1;
}

@-webkit-keyframes myloading1 {
    0%{
        /* -webkit-transform: rotate(0deg); */
        background-color: #0b9ff5;
        top:0px;
        left:0px;
    }
    8.3%{
        background-color: #29acf8;
        top:2.68px;
        left:-10px;
    }
    16.67%{
        background-color: #57c0fd;
        top:10px;
        left:-17.34px;
    }
    /* 1/4 */

    25%{
        background-color: #7fcaf5;
        top:20px;
        left:-20px;
    }
    33.33%{
        background-color: #abdcf8;
        top:30px;
        left:-17.34px;
    }
    41.67%{
        background-color: #0b4569;
        top:37.34px;
        left:-10px;
    }
    /* 2/4 */

    50%{
        background-color: #032335;
        top:40px;
        left:0px;
    }
    58.33%{
        background-color: #056da8;
        top:37.34px;
        left:10px;
    }
    66.67%{
        background-color: #0981c7;
        top:30px;
        left:17.34px;
    }
    /* 3/4 */

    75%{
        background-color: #0891e0;
        top:20px;
        left:20px;
    }
    83.33%{
        background-color: #0b9ff5;
        top:10px;
        left:17.34px;
    }
    91.67%{
        background-color: #0b9ff5;
        top:2.68px;
        left:10px;
    }
    100%{
        background-color: #0b9ff5;
        top:0px;
        left:0px;
    }
    /* 4/4 */
}
#loaderBackground{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fefefe;
    z-index: 2;
}

#centerLoader{
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 25px);
}
/* loading style1 */
/* #loaderItem{
    width: 50px;
    height: 50px;
    background-image: url(/Resource/image/com/loader/loader004.gif);
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
} */

/* loading style2 */
/* #loaderItem{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    animation:myloading1 5s infinite;
    -webkit-animation: myloading1 2s infinite; / * Safari 与 Chrome * /
} */

/* loading style3 */
@-webkit-keyframes myloading3_1{
    0%{
        left:0px;
        width: 30px;
        height: 30px;
    }

    12.5%{
        left:10px;
        width: 25px;
        height: 25px;
    }
    25%{
        left:20px;
        width: 20px;
        height: 20px;
    }

    37.5%{
        left:30px;
        width: 15px;
        height: 15px;
    }
    50%{
        left:40px;
        width: 10px;
        height: 10px;
    }
    62.5%{
        left:30px;
        width: 15px;
        height: 15px;
    }
    75%{
        left:20px;
        width: 20px;
        height: 20px;
    }
    87.5%{
        left:10px;
        width: 25px;
        height: 25px;
    }
    100%{
        left:0px;
        width: 30px;
        height: 30px;
    }
}

@-webkit-keyframes myloading3_2{
    0%{
        left:40px;
        width: 30px;
        height: 30px;
    }
    12.5%{
        left:30px;
        width: 25px;
        height: 25px;
    }
    25%{
        left:20px;
        width: 20px;
        height: 20px;
    }
    37.5%{
        left:10px;
        width: 15px;
        height: 15px;
    }
    50%{
        left:0px;
        width: 10px;
        height: 10px;
    }
    62.5%{
        left:10px;
        width: 15px;
        height: 15px;
    }
    75%{
        left:20px;
        width: 20px;
        height: 20px;
    }
    87.5%{
        left:30px;
        width: 25px;
        height: 25px;
    }
    100%{
        left:40px;
        width: 30px;
        height: 30px;
    }
}

#loaderItem{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background-color: #0981c7;
    animation:myloading3_1 1s infinite;
    -webkit-animation: myloading3_1 2s infinite; /* Safari 与 Chrome*/
} 

#loaderItem2{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background-color: #FFB752;
    animation:myloading3_2 1s infinite;
    -webkit-animation: myloading3_2 2s infinite; /* Safari 与 Chrome*/
} 

.row{
    display: flex;
}
.col-md-1{
    width: 8.333%;
}
.col-md-2{
    width: calc(8.333% * 2);
}
.col-md-3{
    width: calc(8.333% * 3);
}
.col-md-4{
    width: calc(8.333% * 4);
}
.col-md-5{
    width: calc(8.333% * 5);
}
.col-md-6{
    width: calc(8.333% * 6);
}
.col-md-7{
    width: calc(8.333% * 7);
}
.col-md-8{
    width: calc(8.333% * 8);
}
.col-md-9{
    width: calc(8.333% * 9);
}
.col-md-10{
    width: calc(8.333% * 10);
}
.col-md-11{
    width: calc(8.333% * 11);
}
.col-md-12{
    width: calc(8.333% * 12);
}


label{
    font-size: 18px;
    color: #2d0404;
}

.no-padding-left{
    text-align: left;
}
.no-padding-center{
    text-align: center;
}
.no-padding-right{
    text-align: right;
}


/* button::before{
    content: "";
    padding-left: 12px;
}
button{
    font-size: 16px;
    background-color: #ABBAC3!important;
    
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
}
button::after{
    content: "";
    padding-right: 12px;
} */

.btn-default{
    background-color: #ABBAC3!important;
}
.btn-warning{
    background-color: #FFB752!important;
}
.btn-success{
    background-color: #87B87F!important;
}
.btn-info{
    background-color: #6FB3E0!important;
}


#messageHeader{
    position: absolute;
    top: 20px; 
    right: 18px;
    width: 25%;
}