

#main-content{
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    box-sizing: border-box ;
    background-color: #fff;
}

#navigationbar{
    width: 100%;
    min-height: 50px;
    background-color: #f9f9f9;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.05); */
    position: fixed;
    margin-top: 0;
    left: 0;
    right: 0;
}
#navigationbarMenu{
    border-bottom: 8px solid #fff;
    min-height: 50px;
}

#subMenubarMenu{
    width: 100%;
    border-right: none;
}

#subMenubarMenu .item{
    border-right: none;
}

#subMenubarMenu .active{
    background-color: rgb(229, 225, 235);

}

#body-content{
    width: 100%;
    height: 95%;
    padding: 50px 0 0;
    margin: 0 auto;
    line-height: 1.57142857;
    background: #fff;
    /* min-height: 654px; */
}

#sidebar{
    background-color: #f9f9f9;
    margin-right: 5px;
    padding-top: 20px;
    padding-left: 10px;
}

#cotent{
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 10px;
}


#footer{
    margin-top: 5px;
    width:100%;
    height: 30px;
    text-align: center;
}

#footer-content{
    margin: 0 auto;
    bottom: 15px; 
}


.menuComSetClass.ui.menu .item {
    line-height: 2;
}

.helpItem{
    position: absolute;
    bottom: 70px;
    right: 40px;
}

.row{
    display: flex;
}
.col-md-1{
    width: 8.333%;
}
.col-md-2{
    width: calc(8.333% * 2);
}
.col-md-3{
    width: calc(8.333% * 3);
}
.col-md-4{
    width: calc(8.333% * 4);
}
.col-md-5{
    width: calc(8.333% * 5);
}
.col-md-6{
    width: calc(8.333% * 6);
}
.col-md-7{
    width: calc(8.333% * 7);
}
.col-md-8{
    width: calc(8.333% * 8);
}
.col-md-9{
    width: calc(8.333% * 9);
}
.col-md-10{
    width: calc(8.333% * 10);
}
.col-md-11{
    width: calc(8.333% * 11);
}
.col-md-12{
    width: calc(8.333% * 12);
}


label{
    font-size: 18px;
    color: #2d0404;
}

.no-padding-left{
    text-align: left;
}
.no-padding-center{
    text-align: center;
}
.no-padding-right{
    text-align: right;
}


/* button::before{
    content: "";
    padding-left: 12px;
}
button{
    font-size: 16px;
    background-color: #ABBAC3!important;
    
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
}
button::after{
    content: "";
    padding-right: 12px;
} */

.btn-default{
    background-color: #ABBAC3!important;
}
.btn-warning{
    background-color: #FFB752!important;
}
.btn-success{
    background-color: #87B87F!important;
}
.btn-info{
    background-color: #6FB3E0!important;
}


#messageHeader{
    position: absolute;
    top: 20px; 
    right: 18px;
    width: 25%;
}